@import "includes/base";
header {
    svg {
        display: inline-block;
    }
    
    #canvas {
        margin-top: 1%;
    }
    /* Remove margins and padding from the list, and add a black background color */
    ul.topnav {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        width: 80%;
    }
    /* Float the list items side by side */
    ul.topnav li {
        display: inline-block;
        width: 20%;
    }
    /* Style the links inside the list items */
    ul.topnav li a {
        display: inline-block;
        color: #555;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 14px;
        width: 100%;
    }
    /* Hide the list item that contains the link that should open and close the topnav on small screens */
    ul.topnav li.icon {
        display: none;
    }
    .buttonHolder {
        display: inline-block;
        float: right;
    }
    ul img {
        max-width: 60%;
        max-height: 60px;
        margin: auto;
        display: inline-block;
        float: left;
        padding: 14px 16px;
    }
    .one:hover ~ hr,
    .one:active ~ hr {
        margin-left: 0%;
    }
    .two:hover ~ hr,
    .two:active ~ hr {
        margin-left: 20%;
    }
    .three:hover ~ hr,
    .three:active ~ hr {
        margin-left: 40%;
    }
    .four:hover ~ hr,
    .four:active ~ hr {
        margin-left: 60%;
    }
    .five:hover ~ hr,
    .five:active ~ hr {
        margin-left: 80%;
    }
    hr {
        height: .05rem;
        width: 20%;
        margin: 0;
        background: black;
        border: none;
        transition: .3s ease-in-out;
        box-sizing: border-box;
    }
    hr.photo_active {
        margin-left: 20%;
    }
    hr.blog_active {
        margin-left: 40%;
    }
    hr.about_active {
        margin-left: 60%;
    }
    hr.contact_active {
        margin-left: 80%;
    }
    /* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
    @media screen and (max-width:950px) {
        ul.topnav li {
            display: none;
        }
        ul.topnav li.icon {
            float: right;
            display: inline-block;
        }
        .buttonHolder {
            text-align: center;
            margin-top: 10%;
            margin-right: 5%;
        }
        ul.topnav.responsive {
            position: relative;
        }
        ul.topnav.responsive li.icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        ul.topnav.responsive li {
            float: none;
            display: inline;
        }
        ul.topnav.responsive li a {
            display: block;
            text-align: center;
        }
        hr {
            opacity: 0;
        }
    }
}

body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Lato', sans-serif;
        color: #232a2f;
    }
    h3,
    h4,
    h5 {
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        margin-bottom: 30px;
    }
    p {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 30px;
    }
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    .grid {
        *,
        *:after,
        *:before {
            box-sizing: border-box;
            position: relative;
            padding: 0;
            margin: 0;
            z-index: 1;
        }
        font-size: 0;
        width: 81vw;
        margin: 2vw auto;
        .col {
            width: 17vw;
            height: 17vw;
            margin: 0 5vw 5vw 5vw;
            display: inline-block;
            background: #0693c0;
            overflow: hidden;
            a {
                width: 100%;
                height: 100%;
                display: inline-block;
                z-index: 4;
                .info {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: center;
                    opacity: 0;
                    transition: opacity 250ms;
                    color: white;
                    z-index: 2;
                    padding: 16px;
                    .name {
                        font-size: 1.5rem;
                    }
                    .blurb {
                        font-style: italic;
                        margin-top: 8px;
                        font-size: 1rem;
                    }
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: grey;
                opacity: 0;
                transition: opacity 400ms;
            }
            &.wingit {
                background: url(/wingit.png) no-repeat top center;
                background-size: cover;
            }
            &.wireflo {
                background: url(/wireflo.png) no-repeat top center;
                background-size: cover;
            }
            &.easqlite {
                background: url(/easqlite.png) no-repeat top center;
                background-size: cover;
            }
            &.qlic {
                background: url(/qlic.png) no-repeat top center;
                background-size: cover;
            }
            &.yack {
                background: url(/yackrank.png) no-repeat top center;
                background-size: cover;
            }
            &.concentraid {
                background: url(/concentraid.png) no-repeat top center;
                background-size: cover;
            }
            &.photo_one {
                background: url(/photo_1.jpg) no-repeat center;
                background-size: contain;
            }
            &.photo_two {
                background: url(/photo_2.jpg) no-repeat center;
                background-size: contain;
            }
            &.photo_three {
                background: url(/photo_3.jpg) no-repeat center;
                background-size: contain;
            }
            &.photo_four {
                background: url(/photo_4.jpg) no-repeat center;
                background-size: contain;
            }
            &.photo_five {
                background: url(/photo_5.jpg) no-repeat center;
                background-size: contain;
            }
            &.photo_six {
                background: url(/photo_6.jpg) no-repeat center;
                background-size: contain;
            }
            &:hover,
            &:focus,
            &:active {
                .info {
                    opacity: 1;
                }
                &::after {
                    content: "";
                    opacity: .7;
                }
            }
            @media (max-width: 1100px) {
                width: 30vw;
                height: 30vw;
            }
            @media (max-width: 600px) {
                width: 60vw;
                height: 60vw;
            }
        }
        @media (max-width: 1100px) {
            width: 80vw;
        }
        @media (max-width: 600px) {
            width: 70vw;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #efefef;
    text-align: center;
}