doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    block head_end
	
  body
    block content
    div(class="grid")
      div(class="col easqlite")
        a(href="https://github.com/MobileDevelopersOfBerkeley/EaSQLite" target="_blank")
          div(class="info")
            div(class="name") EaSQlite
            div(class="blurb") Android database absraction layer library
              ripperino
      div(class="col wireflo")
        a(href="https://github.com/tarunkhasnavis07/WireFlo" target="_blank")
          div(class="info")
            div(class="name") WireFly
            div(class="blurb") international currency exchange web app
              ripperino
      div(class="col qlic")
        a(href="https://play.google.com/store/apps/details?id=com.swap.mdb.qlic&hl=en" target="_blank")
          div(class="info")
            div(class="name") Qlic
            div(class="blurb") nearby contact sharing app
              ripperino
      div(class="col wingit")
        a(href="https://github.com/MobileDevelopersOfBerkeley/WingIt" target="_blank")
          div(class="info")
            div(class="name") WingIt
            div(class="blurb") instantaneous location based trip planner app
              ripperino
      div(class="col yack")
        a(href="https://github.com/Yakathon/YackRank" target="_blank")
          div(class="info")
            div(class="name") YackRank
            div(class="blurb") YikYak analyzer web app
              ripperino
      div(class="col concentraid")
        a(href="https://play.google.com/store/apps/details?id=com.mdb.berkeley.concentraid&hl=en" target="_blank")
          div(class="info")
            div(class="name") Concentraid
            div(class="blurb") procrastination assistant app
              ripperino

    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    block body_end