extends _layouts/home
block head_end
	link(rel="stylesheet" href="/css/style.css") 
	header
		script(src="js/script.js")
		div(id="canvas")
			ul(class="topnav" id="myTopnav")
				div(class="logoHolder")
					a(href="index.html")
						img(src='images/logo.png' class="logo")
				li(class="icon"): a(href="javascript:void(0);" onclick="openNav()") &#9776
				div(class="buttonHolder")
					li(class="one"): a(href="index.html", title="Recent") RECENT
					li(class="two"): a(href="photos.html", title="Photos") PHOTOS
					li(class="three"): a(href="blog.html", title="Blog") BLOG
					li(class="four"): a(href="about.html", title="About") ABOUT
					li(class="five"): a(href="contact.html", title="Contact") CONTACT
					hr(class="contact_active")
block content

block body_end
	//script(type="text/javascript" src="/js/script.js")

